@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Regular';
  src: url("../fonts/NunitoSans-Regular.eot");
  src: url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.grey-bg {
  background-color: #f8f9f9;
}

.title {
  color: #232323;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 30px;
  font-weight: 600;
}

.article {
  color: #818181;
  font-family: 'Nunito Sans Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.button {
  width: 180px;
  height: 54px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  background-color: #10c9c3;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  background-color: #26bbb6b2;
}

.container {
  width: 1270px;
  margin: auto;
}

.navbar-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-wrap__menu {
  width: 616px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
}

.menu__element {
  color: #232323;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__element:hover {
  color: #10c9c3;
}

.hero {
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 28px;
}

.hero__title {
  font-size: 38px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero__article {
  width: 474px;
  margin-top: 30px;
}

.hero__text {
  font-size: 18px;
  letter-spacing: 0.09px;
  line-height: 28px;
}

.hero__button {
  margin-top: 38px;
  margin-bottom: 200px;
}

.about-us {
  background-color: #fff;
}

.about-us-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}

.about-us__title {
  text-align: center;
}

.about-us__article {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

.about-us__text {
  letter-spacing: 0.1px;
  line-height: 24px;
}

.about-us__image {
  margin-top: 27px;
}

.skills {
  position: relative;
  overflow: hidden;
}

.skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-wrap__sidebar-left {
  width: 50%;
  padding-top: 165px;
  padding-bottom: 165px;
}

.skills-wrap__graph-title {
  font-size: 12px;
  text-transform: uppercase;
  white-space: pre-wrap;
  margin-top: 40px;
  margin-bottom: 20px;
}

.skills-wrap__lines {
  width: 500px;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-wrap__filled-line1 {
  height: 100%;
  width: 75%;
  background-color: #10c9c3;
}

.skills-wrap__empty-line1 {
  width: 25%;
  height: 100%;
  background-color: #d8d8d8;
}

.skills-wrap__filled-line2 {
  height: 100%;
  width: 90%;
  background-color: #10c9c3;
}

.skills-wrap__empty-line2 {
  height: 100%;
  width: 10%;
  background-color: #d8d8d8;
}

.skills-wrap__filled-line3 {
  height: 100%;
  width: 65%;
  background-color: #10c9c3;
}

.skills-wrap__empty-line3 {
  height: 100%;
  width: 35%;
  background-color: #d8d8d8;
}

.skills-wrap__image {
  height: 592px;
  position: absolute;
  left: 50%;
  top: 0;
}

.numbers {
  background-color: #10c9c3;
}

.numbers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.numbers-wrap__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers-wrap__desc {
  margin-left: 27px;
}

.numbers-wrap__title {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.numbers-wrap__description {
  color: white;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */