@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Regular';
  src: url("../fonts/NunitoSans-Regular.eot");
  src: url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.grey-bg {
  background-color: #f5f5f5;
}

.title {
  color: #232323;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 30px;
  font-weight: 600;
}

.article {
  color: #818181;
  font-family: 'Nunito Sans Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.button {
  width: 180px;
  height: 54px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  background-color: #10c9c3;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  background-color: #26bbb6b2;
}

.container {
  max-width: 1270px;
  width: 66.145833%;
  margin: auto;
}

.roll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-wrap {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.header {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
}

.navbar-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-wrap__logo {
  margin-right: 4%;
  margin-bottom: auto;
}

.navbar-wrap__menu {
  width: 55%;
  max-width: 616px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
}

.menu__element {
  color: #232323;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__element:hover {
  color: #10c9c3;
}

.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #10c9c3;
  border-radius: 50%;
  position: relative;
}

.menu-btn__line {
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  background-color: #fff;
}

.menu-btn__line::before, .menu-btn__line::after {
  content: '';
  display: block;
  -webkit-transition: .4s;
  transition: .4s;
}

.menu-btn__line::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.menu-btn__line::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.menu-btn__line::before, .menu-btn__line::after {
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  background-color: #fff;
}

.menu-btn_active .menu-btn__line {
  height: 0;
}

.menu-btn_active .menu-btn__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn_active .menu-btn__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-menu-block {
  position: absolute;
  top: 34px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none;
}

.btn-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 40px 15px 60px 60px;
  background-color: #10c9c3;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  opacity: 0;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.btn-menu__link {
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  opacity: 0;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-menu-nav_active {
  opacity: .8;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.btn-menu__link_active {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

@media screen and (max-width: 1390px) {
  .navbar-wrap__menu {
    width: 80%;
  }
}

@media screen and (max-width: 955px) {
  .navbar-wrap__menu {
    display: none;
  }
  .btn-menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  width: 40.5128%;
  max-width: 474px;
  margin-top: 170px;
  margin-left: 56.41025%;
  margin-right: 28px;
}

.hero__title {
  font-size: 38px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero__article {
  width: 100%;
  margin-top: 30px;
}

.hero__text {
  width: 100%;
  font-size: 18px;
  letter-spacing: 0.09px;
  line-height: 28px;
}

.hero__button {
  margin-top: 38px;
  margin-bottom: 200px;
}

@media screen and (max-width: 955px) {
  .hero {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .hero-wrap {
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 955px) {
  .hero__title {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-us {
  background-color: #fff;
  width: 100%;
}

.about-us-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}

.about-us__title {
  text-align: center;
}

.about-us__article {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 52.991453%;
}

.about-us__text {
  letter-spacing: 0.1px;
  line-height: 24px;
}

.about-us__image {
  margin-top: 27px;
}

.skills {
  position: relative;
  overflow: hidden;
}

.skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-wrap__sidebar-left {
  width: 50%;
  padding-top: 165px;
  padding-bottom: 165px;
}

.skills-wrap__graphs {
  width: 100%;
}

.skills-wrap__single-wrap {
  width: 100%;
}

.skills-wrap__graph-title {
  font-size: 12px;
  text-transform: uppercase;
  white-space: pre-wrap;
  margin-top: 40px;
  margin-bottom: 20px;
}

.skills-wrap__lines {
  width: 90%;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d8d8d8;
}

.skills-wrap__filled-line1 {
  height: 100%;
  width: 75%;
  background-color: #10c9c3;
}

.skills-wrap__filled-line2 {
  height: 100%;
  width: 90%;
  background-color: #10c9c3;
}

.skills-wrap__filled-line3 {
  height: 100%;
  width: 65%;
  background-color: #10c9c3;
}

.skills-wrap__image {
  height: 592px;
  position: absolute;
  left: 50%;
  top: 0;
}

.numbers {
  background-color: #10c9c3;
}

.numbers-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.numbers-wrap__statistic {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers-wrap__desc {
  width: 57%;
  margin-left: 10%;
}

.numbers-wrap__title {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.numbers-wrap__description {
  color: white;
  font-size: 12px;
  line-height: 20px;
  margin-top: 7px;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  .numbers-wrap__statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .numbers-wrap__desc {
    margin-left: 0;
  }
  .numbers-wrap__img {
    text-align: center;
  }
  .numbers-wrap__title {
    margin-top: 20px;
    text-align: center;
  }
  .numbers-wrap__description {
    text-align: center;
  }
}

.works-wrap__image {
  position: relative;
}

.works-wrap__image:hover .look {
  opacity: .7;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.works-wrap__img {
  width: 100%;
  height: 100%;
}

.works__load-more {
  padding: 45px 0;
}

.works__load-more:hover {
  cursor: pointer;
}

.works__title {
  color: #818181;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.look {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #010101;
  opacity: 0.5;
  display: block;
  opacity: 0;
}

.look-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

.look-img:hover {
  cursor: pointer;
}

.process-wrap {
  padding: 100px 0;
}

.process-wrap__title {
  text-align: center;
}

.process-wrap__article {
  margin-top: 40px;
  width: 75%;
  max-width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.process-wrap__text {
  letter-spacing: 0.08px;
  line-height: 24px;
}

.media {
  position: relative;
  margin-top: 50px;
}

.media__controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media:hover .pause {
  opacity: .4;
}

.media__video-wrap {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100%;
}

#play-pause {
  width: 85px;
  height: 85px;
  background-color: #10c9c3;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0 21px #00000028;
          box-shadow: 0 0 21px #00000028;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#play-pause:hover .media__video-wrap {
  opacity: 0;
}

#play-pause:hover {
  cursor: pointer;
}

#play-pause:focus {
  outline: none;
}

#play-pause:active {
  outline: none;
}

.play::before {
  content: url(../img/main/process/play.png);
}

.pause {
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.pause::before {
  content: url(../img/main/process/pause.png);
}

.services {
  width: 100%;
}

.services-wrap {
  width: 100%;
  padding: 70px 10px;
}

.services__roll {
  padding: 30px 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__single-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  max-width: 230px;
}

.services__imege {
  display: block;
  height: 42px;
}

.services__title {
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  width: 80%;
}

.services__article {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 690px) {
  .services__title {
    font-size: 10px;
  }
  .services__article {
    display: none;
  }
}

@media screen and (max-width: 489px) {
  .services__title {
    display: none;
  }
}

.testimonials {
  background-color: #10c9c3;
  padding: 60px 0;
}

.testimonials__review {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 71.8495726%;
  height: 21.2%;
  min-height: 140px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-size: 30px;
}

.testimonials__name {
  margin-top: 5%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.slider {
  width: 100%;
}

.slider__content {
  width: 100%;
}

.slide {
  height: 30%;
  width: 100%;
}

.slider__wrap-dots {
  margin-top: 20%;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  margin: 0 auto;
}

.demo {
  countent: '';
  cursor: pointer;
  width: 6px;
  height: 6px;
  background-color: #b0e8e6;
  border-radius: 50%;
}

.chosen {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.clients-wrap {
  padding: 71px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 655px) {
  .clients-wrap {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients__img {
    width: 50%;
    text-align: center;
    padding: 30px 0;
  }
}

.feedback {
  padding: 100px 0;
}

.feedback__title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.3px;
}

.feedback__article {
  display: block;
  text-align: center;
  width: 48%;
  max-width: 537px;
  margin: 35px auto;
  font-size: 16px;
  line-height: 24px;
}

.feedback__button {
  display: block;
  margin: 30px auto 0px auto;
}

.form {
  width: 670px;
  text-transform: uppercase;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}

.form-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  font-family: 'Nunito Sans Regular', sans-serif;
  font-weight: 400;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.form__name {
  padding-left: 20px;
  width: 44.7761194%;
  height: 48px;
  border: none;
  outline: none;
}

.form__email {
  padding-left: 20px;
  width: 44.7761194%;
  height: 48px;
  border: none;
  outline: none;
}

.form__title {
  padding-left: 20px;
  border: none;
  width: 100%;
  height: 48px;
  display: block;
  margin-top: 30px;
  outline: none;
}

.form__comment {
  padding-top: 18px;
  padding-left: 20px;
  border: none;
  width: 100%;
  height: 170px;
  margin-top: 30px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .form {
    width: 95%;
  }
  .form__name {
    width: 50%;
  }
  .form__email {
    margin-left: 10px;
    width: 50%;
  }
  .form__title {
    margin-top: 10px;
  }
  .form__comment {
    margin-top: 10px;
  }
  .feedback__button {
    width: 100%;
    margin-top: 10px;
  }
}

.footer {
  background-color: #141414;
}

.footer-wrap {
  width: 90%;
  max-width: 1500px;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

.footer__title {
  color: #ffffff;
  font-size: 18px;
}

.footer__description {
  color: #bcbcbc;
  font-size: 15px;
  display: block;
  margin-top: 27px;
}

.footer__info {
  margin-right: 21%;
}

.footer__navbar-wrap {
  width: 45%;
  max-width: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-right: 10%;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.item {
  text-decoration: none;
  color: #bcbcbc;
  font-size: 15px;
  line-height: 24px;
}

.footer__phone, .footer__email {
  display: block;
}

.footer__phone:hover, .footer__email:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1205px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0%;
  }
  .footer__menu {
    width: 100%;
    text-align: right;
  }
  .footer__socials {
    width: 100%;
    text-align: right;
  }
  .footer__navbar-wrap {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 27px;
    margin-left: auto;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    width: 78.3%;
  }
  .footer__phone, .footer__email {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0%;
  }
  .footer__menu {
    width: 100%;
    text-align: right;
  }
  .footer__socials {
    width: 100%;
    text-align: right;
  }
  .footer__navbar-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 27px;
    margin-left: auto;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    width: 78.3%;
  }
  .footer__phone, .footer__email {
    text-align: right;
  }
}

@media screen and (max-width: 490px) {
  .footer__socials {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */