@font-face {
  font-family: 'Montserrat Medium';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Regular';
  src: url("../fonts/NunitoSans-Regular.eot");
  src: url("../fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NunitoSans-Regular.woff") format("woff"), url("../fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.grey-bg {
  background-color: #f5f5f5;
}

.title {
  color: #232323;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  font-size: 30px;
  font-weight: 600;
}

.article {
  color: #818181;
  font-family: 'Nunito Sans Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.button {
  width: 180px;
  height: 54px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
  background-color: #10c9c3;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  background-color: #26bbb6b2;
}

.container {
  width: 1270px;
  margin: auto;
}

.roll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-wrap {
  width: 25%;
}

.navbar-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-wrap__menu {
  width: 616px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: 500;
}

.menu__element {
  color: #232323;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__element:hover {
  color: #10c9c3;
}

.hero {
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 28px;
}

.hero__title {
  font-size: 38px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero__article {
  width: 474px;
  margin-top: 30px;
}

.hero__text {
  font-size: 18px;
  letter-spacing: 0.09px;
  line-height: 28px;
}

.hero__button {
  margin-top: 38px;
  margin-bottom: 200px;
}

.about-us {
  background-color: #fff;
}

.about-us-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
}

.about-us__title {
  text-align: center;
}

.about-us__article {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

.about-us__text {
  letter-spacing: 0.1px;
  line-height: 24px;
}

.about-us__image {
  margin-top: 27px;
}

.skills {
  position: relative;
  overflow: hidden;
}

.skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-wrap__sidebar-left {
  width: 50%;
  padding-top: 165px;
  padding-bottom: 165px;
}

.skills-wrap__graph-title {
  font-size: 12px;
  text-transform: uppercase;
  white-space: pre-wrap;
  margin-top: 40px;
  margin-bottom: 20px;
}

.skills-wrap__lines {
  width: 500px;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d8d8d8;
}

.skills-wrap__filled-line1 {
  height: 100%;
  width: 75%;
  background-color: #10c9c3;
}

.skills-wrap__filled-line2 {
  height: 100%;
  width: 90%;
  background-color: #10c9c3;
}

.skills-wrap__filled-line3 {
  height: 100%;
  width: 65%;
  background-color: #10c9c3;
}

.skills-wrap__image {
  height: 592px;
  position: absolute;
  left: 50%;
  top: 0;
}

.numbers {
  background-color: #10c9c3;
}

.numbers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.numbers-wrap__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers-wrap__desc {
  margin-left: 27px;
}

.numbers-wrap__title {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.numbers-wrap__description {
  color: white;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.works-wrap__image {
  position: relative;
}

.works-wrap__image:hover .look {
  opacity: .7;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.works-wrap__img {
  width: 100%;
  height: 100%;
}

.works__load-more {
  padding: 45px 0;
}

.works__load-more:hover {
  cursor: pointer;
}

.works__title {
  color: #818181;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.look {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #010101;
  opacity: 0.5;
  display: block;
  opacity: 0;
}

.look-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

.look-img:hover {
  cursor: pointer;
}

.process-wrap {
  padding: 100px 0;
}

.process-wrap__title {
  text-align: center;
}

.process-wrap__article {
  margin-top: 40px;
  width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.process-wrap__text {
  letter-spacing: 0.08px;
  line-height: 24px;
}

.media {
  position: relative;
  margin-top: 50px;
}

.media__controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media:hover .pause {
  opacity: 1;
}

.media__video-wrap {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100%;
}

#play-pause {
  width: 85px;
  height: 85px;
  background-color: #10c9c3;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0 21px #00000028;
          box-shadow: 0 0 21px #00000028;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#play-pause:hover .media__video-wrap {
  opacity: 0;
}

#play-pause:hover {
  cursor: pointer;
}

#play-pause:focus {
  outline: none;
}

#play-pause:active {
  outline: none;
}

.play::before {
  content: url(../img/main/process/play.png);
}

.pause {
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.pause::before {
  content: url(../img/main/process/pause.png);
}

.services {
  width: 100%;
}

.services-wrap {
  width: 100%;
  padding: 70px 10px;
}

.services__roll {
  padding: 30px 0px;
}

.services__single-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__imege {
  display: block;
}

.services__title {
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
}

.services__article {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
  text-align: center;
  width: 230px;
}

.testimonials {
  background-color: #10c9c3;
  padding: 60px 0;
}

.testimonials__review {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 850px;
  height: 140px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-size: 30px;
}

.testimonials__name {
  margin-top: 35px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.slider__wrap-dots {
  margin-top: 110px;
}

.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  margin: 0 auto;
}

.demo {
  countent: '';
  cursor: pointer;
  width: 6px;
  height: 6px;
  background-color: #b0e8e6;
  border-radius: 50%;
}

.chosen {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.clients-wrap {
  padding: 71px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback {
  padding: 100px 0;
}

.feedback__title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.3px;
}

.feedback__article {
  display: block;
  text-align: center;
  width: 537px;
  margin: 35px auto;
  font-size: 16px;
  line-height: 24px;
}

.feedback__button {
  display: block;
  margin: 30px auto 0px auto;
}

.form {
  text-transform: uppercase;
  font-size: 15px;
}

.form-wrap {
  width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  font-family: 'Nunito Sans Regular', sans-serif;
  font-weight: 400;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.form__name {
  padding-left: 20px;
  width: 300px;
  height: 48px;
  border: none;
  outline: none;
}

.form__email {
  padding-left: 20px;
  width: 300px;
  height: 48px;
  border: none;
  outline: none;
}

.form__title {
  padding-left: 20px;
  border: none;
  width: 670px;
  height: 48px;
  display: block;
  margin-top: 30px;
  outline: none;
}

.form__comment {
  padding-top: 18px;
  padding-left: 20px;
  border: none;
  width: 670px;
  height: 170px;
  margin-top: 30px;
  outline: none;
}

.footer {
  background-color: #141414;
}

.footer-wrap {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  color: #ffffff;
  font-size: 18px;
}

.footer__description {
  width: 255px;
  color: #bcbcbc;
  font-size: 15px;
  display: block;
  margin-top: 27px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35px;
  margin-left: 246px;
  margin-right: 90px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 86px;
  margin-left: 55px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.item {
  text-decoration: none;
  color: #bcbcbc;
  font-size: 15px;
  line-height: 24px;
}

.footer__phone:hover, .footer__email:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */