html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

h1,h2,h3,h4
  margin-top: 0
  margin-bottom: 0

.grey-bg
  background-color: $light-grey-bg
  
.title
  color: $label-color
  +label-font
  font-size: 30px
  font-weight: 600

.article
  color: $article-color
  +article-font
  font-size: 16px

.button
  width: 180px
  height: 54px
  color: #fff
  font-size: 12px
  letter-spacing: 1.2px
  text-transform: uppercase
  +label-font
  background-color: $primary-tiffany
  border: none
  cursor: pointer
  padding: 0
  transition: all 0.2s
  &:hover
    background-color: #26bbb6b2
