.navbar

  &-wrap
    align-items: center
    padding: 38px 0px
    display: flex
    justify-content: space-between
    &__menu
      width: 616px
      display: flex
      justify-content: space-between

.menu
  display: flex
  +label-font
  &__element
    color: $label-color
    font-size: 12px
    text-transform: uppercase
    text-decoration: none
    transition: all 0.2s
    &:hover
      color: $primary-tiffany